<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<!--<link rel="stylesheet" href="bootstrap2.css">-->
<link rel="stylesheet" href="strap.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-navblack">
        <div class="container-fluid">
          <a class="navbar-brand ms-5" href="/">
            <h2><img src="media/logo.svg"></h2>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <p class="navbar-toggler-icon"></p>
          </button>
          
              
            <ul class="navbar-nav ms-auto mb-1 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
             </li>
              <li class="nav-item">
                <a class="nav-link" href="/home.html">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/viewMenus.html">Menu</a>
            </li>
         
                  
            
    
              
            </ul>
          </div>
        </div>
      </nav>
